
.background-image {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  padding: 0;
  /* Needed to deal with the /white border issue */
  transform: scale(1.1);
  /* Make the background go BEHIND EVERYTHING */
  z-index:-1;
}

.content {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 10px;
  left: 0;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 ;
}

/* following guide
https://medium.freecodecamp.org/how-to-easily-build-mashables-navigation-bar-with-html-and-css-9e5007af786
 */

 nav {
   width: 100%;
   height: 35px;
   background-color: #cc7f98;
 }
 nav a {
   display: block;

/*We're just setting up fonts settings here*/
   font-family: Helvetica;
   font-size: 20px;
   color: black;

  /*Padding Our Box*/
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right:solid 2px black;/*add */
}


#logo {
 /*font*/
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #c4c4c4;
/*box*/
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -10px;
  }


.title {
  width: 100%;
  padding-top: 10px;
  padding-left: 25%;
  padding-right: 60px;
  margin-right: 10px;
  margin-top: -10px;
  border;
  border-color: black;
  font-family: monospace;
}

.information {
  width: 70%;
  padding-left: 25%;
  font-style: italic;
}

.clock{
    text-align:center;
    width:auto;
    height:auto;


}
